h1 {
    text-align: center;
    font-weight: 700; /* defines whether the text is bold or normal etc. */
    text-decoration: red wavy underline; /* with the help of this we can underline, overline and do many other things!*/
    color: rgb(104, 255, 51);
    background-color: #FFFF00;
}

h2 {
    color: purple;
    background-color: plum;
}

button {
    color: magenta;
    background-color: bisque;
}

p {
    line-height: normal; /* enables us to configure line height */
    font-size: 17px; /* specifies how large the letters will be like in word etc.*/
    font-family: Arial, sans-serif;
    color: mediumvioletred;
    background-color: orange;
}