section {
    width: 500px;
    height: 400px;
    background-color: magenta;
    border: 2px black solid;
}

#rgba_test {
    width: 50%;
    height: 50%;
    background-color: rgba(255, 255, 255, 0.5);
    /* The last parameter of the rgba here configures the transparency. 1 is highest and 0 is lowest */
}

#opacity_test {
    width: 50%;
    height: 50%;
    background-color: yellow;
    opacity: 0.7;
    /* Opacity configures the entire section's transparency whereas rgba just configures the color's transparency*/
}