h1 {
    background-color: #8ecae6;
    border: 5px solid #283618;
    color: #e63946;
    padding: 07.em;
    width: 300px;
    font-size: 1.8em;
    text-align: center;
    margin: 20px auto;
    font-family: 'Courier New', Courier, monospace;
    font-weight: lighter;
}

h1:nth-of-type(2n) {
    background-color: #003049;
}

h1:nth-of-type(3n) {
    background-color: #bb3e03;
}

h1:nth-of-type(4n) {
    background-color: #386641;
}

section:first-of-type h1:nth-of-type(1) {
    transform: rotate(180deg);
}

section:first-of-type h1:nth-of-type(2) {
    transform: scale(0.75); /* scales the element */
}

section:first-of-type h1:nth-of-type(3) {
    transform: translateX(200px);
}

section:first-of-type h1:nth-of-type(4) {
    transform: translate(-100px, 50px); /* moves the element 100px left and 50px down */
}

section:nth-of-type(2) h1:nth-of-type(1) {
    transform: skew(30deg);
}

section:nth-of-type(2) h1:nth-of-type(2) {
    transform: skew(10deg, 5deg);
}

section:nth-of-type(2) h1:nth-of-type(3) {
    transform: rotate(90deg) scale(1.3);
}

